public/controller/MainPage/MainPage.html
<md-content flex="flex" layout-padding="layout-padding" ng-show="loading.successGetTable"><h3>{{user.name}} - {{user.pay.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}</h3><md-grid-list md-cols="6" md-row-height="3:4" md-gutter="12px" md-gutter-gt-sm="8px"><md-grid-tile md-colspan="2" ng-repeat="table in tables"><md-button class="md-fab md-primary btn-large" ng-disabled="isDisabledTable(table)" ng-click="takeTable(table.number)" ng-class="youTableClass(table)"><span ng-hide="youTable(table)">{{isBusyMessage(table)}}</span><md-button class="md-primary md-raised md-mini" ng-click="showModalMenu($event)" ng-show="youTable(table)"><span>Вызвать официанта</span><md-tooltip md-direction="top" md-delay="300"><span ng-hide="loading.successCallWaiter">Официант подойдет через {{timer.waiter}} секунд.</span><br/>Вы можете вызвать официанта сразу<br/><md-icon>arrow_downward</md-icon></md-tooltip></md-button></md-button></md-grid-tile></md-grid-list><md-button ng-click="sessionReset()">reset</md-button></md-content><script type="text/ng-template" id="dialogContent.tmpl.html"><md-dialog aria-label="Добрый день, вы готовы сделать заказ?"><md-toolbar><div class="md-toolbar-tools"><h3 flex="flex" md-truncate="md-truncate">Добрый день, вы готовы сделать заказ?</h3><md-button class="md-icon-button" ng-click="cancel()"><md-icon>close</md-icon></md-button></div></md-toolbar><md-dialog-content><md-tabs md-selected="selectedIndex"><md-tab label="Меню" md-on-select="buyOrPay = true"><md-content><form ng-show="loading"><md-list flex="flex"><md-list-item class="md-2-line"><div class="md-list-item-text" layout="row" layout-align="space-between center"><div flex="60" layout="row" layout-align="start center">Выберете блюдо</div><div flex="40" layout="row" layout-align="end center"><md-button class="md-secondary" aria-hidden="true" ng-click="clearSelect()">Сбросить заказ</md-button></div></div></md-list-item><md-divider></md-divider><md-list-item class="md-3-line" ng-repeat="item in menu"><div class="md-list-item-text" layout="row" layout-align="space-between center"><div flex="70" layout="row" layout-align="start center"><img class="md-avatar" ng-src="{{item.image}}"/>{{item.title}}</div><div layout="row" layout-align="end" flex="30" layout-padding="30"><span>{{item.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}</span></div></div><md-checkbox aria-label="Checkbox-{{item.id}}" aria-hidden="false" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)"></md-checkbox></md-list-item></md-list></form></md-content></md-tab><md-tab label="Заказ" ng-disabled="!successDoneOrder" md-on-select="buyOrPay = false"><md-content><md-list ng-repeat="order in orders"><md-list-item class="md-1-line"><div class="md-list-item-text">Ваш {{$index + 1}} заказ</div><spam class="md-secondary">{{timeCook(order.timer, order)}}</spam></md-list-item><md-divider></md-divider><md-list-item class="md-3-line" ng-repeat="item in order.products"><div class="md-list-item-text" layout="row" layout-align="space-between center"><div flex="70" layout="row" layout-align="start stretch"><img class="md-avatar" ng-src="{{item.image}}"/><div layout="row" layout-wrap="wrap" layout-align="stretch space-between" flex="100"><span flex="70">{{item.title}}</span><span flex="30">{{item.timer}}</span><md-progress-linear md-mode="determinate" value="{{item.timerCook}}" flex="100" ng-show="isCooking(order,item)"></md-progress-linear><span flex="100" ng-show="isReady(order,item)">Ожидание блюда</span><span flex="100" ng-show="isOnTable(order)">Приятного аппетита</span><span flex="100" ng-show="isOnKitchen(order,item)">На кухне</span></div></div><div layout="row" layout-align="end" flex="30" layout-padding="30"><span>{{item.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}</span></div></div></md-list-item><md-button class="md-primary md-raised" ng-click="payOrder(order)" ng-disabled="!isOnTable(order)">Оплатить</md-button><span ng-show="order.isErrorDeliver">Возникли сложности с заказом</span><md-button class="md-primary md-raised" ng-show="order.isErrorDeliver" ng-click="returnMoney(order)">Вернуть деньги</md-button><md-button class="md-primary md-raised" ng-show="order.isErrorDeliver" ng-click="payBySale(order)">Заказать со скидкой 5%</md-button></md-list></md-content></md-tab></md-tabs></md-dialog-content><md-dialog-actions layout="row"><span>Ваш кошелек {{ user.pay.toLocaleString('ru-RU', {style: 'currency', currency: 'RUB'}) }}</span><span flex="flex"></span><div class="red" ng-show="notEmoughtMoney">Недостаточно {{replenishBalance.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}} для заказа</div><span flex="flex"></span><md-button ng-disabled="true">{{(temporaryOrderPrice + orderPrice).toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}</md-button><md-button class="md-primary md-raised" ng-click="setOrder(selected)" ng-disabled="!selected.length" ng-show="buyOrPay">Купить</md-button></md-dialog-actions></md-dialog></script><style>.md-button.md-fab.btn-large {width: 200px;height: 200px;}
.md-button.md-fab[disabled].you-table {background-color: #abd6b1;}
.md-button.md-fab[disabled].other-table {background-color: #999;}
.md-tooltip {font-size:15px;text-align: center;height: 70px}
.md-tooltip md-icon {color: rgba(255,255,255,0.87);}
.red {color: red}
md-dialog { width: 100%; height: 100%;}
md-dialog-content, md-tabs {height: 100%;}</style>

public/controller/MainPage/MainPage.pug
md-content(flex,layout-padding, ng-show="loading.successGetTable")
    h3 {{user.name}} - {{user.pay.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}
    md-grid-list(md-cols="6",md-row-height="3:4",md-gutter="12px",md-gutter-gt-sm="8px")
        md-grid-tile(md-colspan="2", ng-repeat="table in tables")
            md-button.md-fab.md-primary.btn-large(ng-disabled="isDisabledTable(table)",ng-click="takeTable(table.number)",ng-class="youTableClass(table)")
                span(ng-hide="youTable(table)") {{isBusyMessage(table)}}
                md-button.md-primary.md-raised.md-mini(ng-click="showModalMenu($event)",ng-show="youTable(table)")
                    span Вызвать официанта
                    md-tooltip(md-direction="top",md-delay="300")
                        span(ng-hide="loading.successCallWaiter") Официант подойдет через {{timer.waiter}} секунд.
                        br
                        | Вы можете вызвать официанта сразу
                        br
                        md-icon arrow_downward

script(type="text/ng-template" id="dialogContent.tmpl.html")
    md-dialog(aria-label="Добрый день, вы готовы сделать заказ?")
        md-toolbar
            .md-toolbar-tools
                h3(flex,md-truncate) Добрый день, вы готовы сделать заказ?
                md-button.md-icon-button(ng-click="cancel()")
                    md-icon close
        md-dialog-content
            md-tabs(md-selected="selectedIndex")
                md-tab(label="Меню", md-on-select="buyOrPay = true")
                    md-content
                        form(ng-show="loading")
                            md-list(flex)
                                md-list-item.md-2-line
                                    .md-list-item-text(layout="row", layout-align="space-between center")
                                        div(flex="60", layout="row", layout-align="start center") Выберете блюдо
                                        div(flex="40", layout="row", layout-align="end center")
                                            md-button.md-secondary(aria-hidden="true",ng-click="clearSelect()") Сбросить заказ
                                md-divider
                                md-list-item.md-3-line(ng-repeat="item in menu")
                                    .md-list-item-text(layout="row", layout-align="space-between center")
                                        div(flex="70", layout="row", layout-align="start center")
                                            img(ng-src="{{item.image}}",class="md-avatar")
                                            | {{item.title}}
                                        div(layout="row",layout-align="end", flex="30", layout-padding="30")
                                            span {{item.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}
                                    md-checkbox(aria-label="Checkbox-{{item.id}}",aria-hidden="false", ng-checked="exists(item, selected)",ng-click="toggle(item, selected)")

                md-tab(label="Заказ",ng-disabled="!successDoneOrder", md-on-select="buyOrPay = false")
                    md-content
                        md-list(ng-repeat="order in orders")
                            md-list-item.md-1-line
                                .md-list-item-text Ваш {{$index + 1}} заказ
                                spam.md-secondary {{timeCook(order.timer, order)}}
                            md-divider
                            md-list-item.md-3-line(ng-repeat="item in order.products")
                                .md-list-item-text(layout="row", layout-align="space-between center")
                                    div(flex="70", layout="row", layout-align="start stretch")
                                        img(ng-src="{{item.image}}",class="md-avatar")
                                        div(layout="row", layout-wrap="wrap", layout-align="stretch space-between", flex="100")
                                            span(flex="70") {{item.title}}
                                            span(flex="30") {{item.timer}}
                                            md-progress-linear(md-mode="determinate", value="{{item.timerCook}}", flex="100", ng-show="isCooking(order,item)")
                                            span(flex="100", ng-show="isReady(order,item)") Ожидание блюда
                                            span(flex="100", ng-show="isOnTable(order)") Приятного аппетита
                                            span(flex="100", ng-show="isOnKitchen(order,item)") На кухне
                                    div(layout="row",layout-align="end", flex="30", layout-padding="30")
                                        span {{item.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}
                            md-button.md-primary.md-raised(ng-click="payOrder(order)" ng-disabled="!isOnTable(order)") Оплатить
                            span(ng-show="order.isErrorDeliver") Возникли сложности с заказом
                            md-button.md-primary.md-raised(ng-show="order.isErrorDeliver", ng-click="returnMoney(order)") Вернуть деньги
                            md-button.md-primary.md-raised(ng-show="order.isErrorDeliver", ng-click="payBySale(order)") Заказать со скидкой 5%
        md-dialog-actions(layout="row")
            span Ваш кошелек {{ user.pay.toLocaleString('ru-RU', {style: 'currency', currency: 'RUB'}) }}
            span(flex)
            .red(ng-show="notEmoughtMoney") Недостаточно {{replenishBalance.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}} для заказа
            span(flex)
            md-button(ng-disabled="true") {{(temporaryOrderPrice + orderPrice).toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}
            md-button.md-primary.md-raised(ng-click="setOrder(selected)" ng-disabled="!selected.length", ng-show="buyOrPay") Купить


style.
    .md-button.md-fab.btn-large {width: 200px;height: 200px;}
    .md-button.md-fab[disabled].you-table {background-color: #abd6b1;}
    .md-button.md-fab[disabled].other-table {background-color: #999;}
    .md-tooltip {font-size:15px;text-align: center;height: 70px}
    .md-tooltip md-icon {color: rgba(255,255,255,0.87);}
    .red {color: red}
    md-dialog { width: 100%; height: 100%;}
    md-dialog-content, md-tabs {height: 100%;}
